div#hplogo ,
div#logocont {
  background: url(/images/srpr/logo11w.png) no-repeat;
  background-position: center;
  background-size: contain;
}
div#hplogo *,
div#logocont * {
  display: none !important;
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
  min-width: none !important;
  min-height: none !important;
}
div#logocont {
  width: 95px;
  height: 44px;
  mix-blend-mode: multiply;
}
